/exercicios
exercicios/.gitignore
exercicios/next-env.d.ts
exercicios/package-lock.json
exercicios/package.json
exercicios/README.md
exercicios/tsconfig.json
exercicios/components/Contador.jsx
exercicios/components/Estilo.jsx
exercicios/components/If.jsx
exercicios/components/Item.jsx
exercicios/components/Lista.jsx
exercicios/components/NumeroDisplay.jsx
exercicios/components/Pessoa.tsx
exercicios/components/SomaUm.jsx
exercicios/components/SomentePar.jsx
exercicios/components/Titulo.jsx
exercicios/components/direta/Filho.jsx
exercicios/components/direta/Pai.jsx
exercicios/components/indireta1/Filho.jsx
exercicios/components/indireta1/Pai.jsx
exercicios/components/modulo/funcionais.jsx
exercicios/data/listaProdutos.js
exercicios/functions/mega.js
exercicios/model/produto.js
exercicios/pages/_app.js
exercicios/pages/index.jsx
exercicios/pages/api/hello.js
exercicios/pages/basicos/botao.jsx
exercicios/pages/basicos/componenteComFilho.jsx
exercicios/pages/basicos/fragment1.jsx
exercicios/pages/basicos/fragment2.jsx
exercicios/pages/basicos/jsx1.jsx
exercicios/pages/basicos/jsx2.jsx
exercicios/pages/basicos/jsx3.jsx
exercicios/pages/basicos/jsx4.jsx
exercicios/pages/basicos/lista1.jsx
exercicios/pages/basicos/lista2.jsx
exercicios/pages/basicos/lista3.jsx
exercicios/pages/basicos/primeiro.jsx
exercicios/pages/basicos/propsSomenteLeitura.jsx
exercicios/pages/basicos/Teste.jsx
exercicios/pages/basicos/usandoTitulo.jsx
exercicios/pages/classe/contador.jsx
exercicios/pages/comunicacao/direta.jsx
exercicios/pages/comunicacao/indireta1.jsx
exercicios/pages/css/integracao1.css
exercicios/pages/css/integracao1.jsx
exercicios/pages/css/integracao2.jsx
exercicios/pages/css/integracao2.module.css
exercicios/pages/css/usandoEstilo.jsx
exercicios/pages/estado/contador.jsx
exercicios/pages/estado/formulario.jsx
exercicios/pages/estado/megasena.jsx
exercicios/pages/estado/mouse.jsx
exercicios/pages/modulo/teste.jsx
exercicios/pages/render/condicional1.jsx
exercicios/pages/render/condicional2.jsx
exercicios/pages/render/repeticao1.jsx
exercicios/pages/render/repeticao2.jsx
exercicios/pages/ts/exemplo.tsx
exercicios/public/favicon.ico
exercicios/public/vercel.svg
exercicios/styles/globals.css
exercicios/styles/Home.module.css
